<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p>
  <strong>Imag:</strong>
  <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
</p>

<% if current_user.id == @user.id %>
  <%= link_to '編集', edit_user_path(@user), class:"btn btn-primary" %> |


<%= link_to '投稿画面へ', new_picture_path "btn btn-primary" %>
<% end %>