<h3>以下の内容で、送信する</h3>

<%= form_with(model: @picture,url: pictures_path,local: true) do |form| %>
   <%= form.hidden_field :name %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>

  <p>タイトル: <%= @picture.name %></p>
  <p>タイトル: <%= @picture.content %></p>
  <p>内容: <%= @picture.content %></p>
  <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  <%= form.submit "登録する"%>
  <%= form.submit "戻る", name: 'back' %>
<% end %>